/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* media query for mobile phone  */
@media only screen and (max-width: 600px) {
   .middle-banner{
       grid-template-columns: repeat(1, 1fr);
   }
  }

/* Header style  */
nav{
    background-color:#2D25A0 ;
    width: 1440px;
height: 677px;

}
.header-style{
    display: flex;
    justify-content: space-between;
margin-left:156px ;
margin-right: 122px;


}
.header{
    margin-top: 42px;
}
.header a{
    margin-right: 36px;
text-decoration: none;
color: white;
font-weight: 500;

}
.font-style{
    margin-top: 42px;
   padding: 10px 24px;
   text-decoration: none;
    color: white;
    background-color:  #E02C6D;;
}
/* Top banner style  */
.top-banner-style{
    display: flex;
   
}
.top-title{
    width: 50%;
    color: white;
   font-weight: bold;
   font-size: 64px;
   line-height: 80px;
   margin:121px 0px 27px 156px;
}
.top-img{
    width: 50%;
}
.top-img img{
    margin: 67px 140px 0 0;
    width: 556.01px;
    height: 438px; 
}

.button a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color:#E02C6D ;
    width: 168px;
    padding: 10px 24px;
    margin-top: 24px;
    
    transition: background-color 4s,ease ;
}


.button a:hover {
 background-color: yellowgreen;
} 
/* middle banner style  */
.middle-banner{
   

    display: grid;
  
grid-row-gap: 27px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    margin-left:170px ;
    margin-right: 210px;
}
.players{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);  
    width: 330px;
height: 474px;

}
.player-img img{
    width: 300px;
height: 256px;
padding: 15px;
}
.name-details{
    padding:0 15px 23px 15px;
}
.name-details .name{
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
margin: 0;

}
.details{
    font-size: 16px; 
    color: #6C6C6C; 
}
.name-details p{
    font-size: 16px;
    color: #6C6C6C;
}
/* Third banner style  */
.third-banner{
    display: flex;
    margin: 165px 156px 156px 180px ;
    
}
.third-banner-title{
    width: 50%;
}
#headline{
    font-size: 48px;
    font-weight: bold;
}
.third-banner-image{
    width: 50%;
}
.third-banner-image img{
    width: 567px;
    height: 427px;

}
/* gallery section style  */
#gallery{
    font-size: 50px;
    text-align: center;
}
.picture{
    display: flex;
  margin-right: 40px;
  transition: transform .2s;
}
.picture img{
    width: 500px;
    margin-left: 10px;
}
.picture-2{
    display: flex;
    margin-right: 40px;
    transition: transform .2s;
}
.picture-2 img{
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.picture img:hover {
  transform: scale(1.2);
}
.picture-2 img:hover {
    transform: scale(1.2);
  }


/* Last part style  */
.last-part-img{
    align-items: center;
    justify-content: center;
    margin-left: 475px;
    margin-right: 481px;
}
.last-part img{
    width: 483.87px;
height: 110px;
  
}
.logo{
    color: #969BAB; ;
    font-size: 32px;
    margin-left: 631px;
    margin-right: 638px;

}
.logo i{
    margin-right: 6px;
  
}
footer p{
    margin-left: 600px;
 
}
